
body{
    background-color: lightblue;
}

h1{
    color: black;
    text-align: center;
    font-size: 110px;
    width: 800px;
}

p{
    text-align: center;
    color: #6610f2;
    font-size: 72px;
}

footer{
    text-align: center;
    color: black;
    font-size: 30px;
    clear: both;
}