
body{
    background-color: lightblue;
}

h1{
    color: black;
    text-align: center;
    width: 6px;
}

p{
    text-align: center;
    color: #6610f2;
    width: 12px;
}

footer{
    text-align: center;
    color:black;
    width: 12px;
    clear: both;
}